<div>
  <div>
    <h1>
      My fridge and pantry
    </h1>
  </div>
</div>
<hr>



<div>
    <% if @current_user != nil %>
      <div>
        <form action="/insert_favorite" method="post">
          <div>
            <input type="hidden" name="query_user_id" value="<%= @current_user.id %>">
          </div>
          <div>
            <label for="ingredient_id_box">
              Type to add foodor choose from the list:
            </label>
            <input list="ingredients" name="query_ingredient_id" id="ingredient_id_box">
            <datalist id="ingredients">
              <% Ingredient.all.order({ :name => :asc }).each do |a_ingredient| %>
                <option value="<%= a_ingredient.id %>">
                  <%= a_ingredient.name %>
                </option>
              <% end %>
            </datalist>
            <button>
              Add food
            </button>
          </form>
          </div>
        <% end %>

      <% if @list_of_favorites == nil %>
        <h2>
          Oops! Your fridge is empty. <a href="/ingredients"> Go grocery shopping! </a>
        </h2>
      <% else %>
        <h2>
          Foods in your fridge
        </h2>
        <hr>
        <div>
          <div>
            <table>
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Ingredient
                </th>
                <th>
                </th>
              </tr>
              <% @list_of_favorites.each do |a_favorite| %>
                <tr>
                  <td>
                    <%= a_favorite.ingredient_id %>
                  </td>
                  <td>
                    <%= a_favorite.ingredient.name %>
                  </td>
                  <td>
                    <a href="/ingredients/<%= a_favorite.ingredient_id.to_s %>">
                      See what you can cook with <%= a_favorite.ingredient.name %>
                    </a>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <hr>
      <% end %>

      <br>
      <br>
      <h2>
        Recipes that you can cook based on whats in your fridge
      </h2>
      <h3>
        Add a table with the recipes that someone could potentially cook based on whats in their fridge (irrespective of whether they have favorited the recipe yet or not). Use Ingredient_in_recipe for this. 
      </h3>
