<div>
  <div>
    <h1>
      Recipes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new recipe
    </h2>

<%# add form here to include ingredients in recipe and add to "ingredients_in_recipe" %>

    <form action="/insert_recipe" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="instructions_box">
          Instructions
        </label>

        <textarea id="instructions_box" name="query_instructions"> 
        Ingredients:

        Make:
        
        
        **Notes
        </textarea>
      </div>

      <div>
        <label for="total_time_box">
          Total time (mins)
        </label>

        <input type="integer" id="total_time_box" name="query_total_time">
      </div>

      <div>
        <label for="cooking_time_box">
          Cooking time (mins)
        </label>

        <input type="integer" id="cooking_time_box" name="query_cooking_time">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="author_user_id_box">
          Author
        </label>

        <input type="text" id="author_user_id_box" name="query_author_user_id">
      </div>

      <button>
        Create recipe
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Name
        </th>

        <th>
          Total time
        </th>

        <th>
          Cooking time
        </th>

        <th>
          Image
        </th>

        <th>
          Author user
        </th>
        <th>
        </th>
      </tr>

      <% @list_of_recipes.each do |a_recipe| %>
      <tr>
        <td>
          <%= a_recipe.name %>
        </td>

        <td>
          <%= a_recipe.total_time %>
        </td>

        <td>
          <%= a_recipe.cooking_time %>
        </td>

        <td>
          <%= a_recipe.image %>
        </td>

        <%# This should work I'm trying to put the author's first and last name, but when I do a_recipe.author.first_name, nothing comes up. %>
        <td>
          <%# <a href="/users/<%= a_recipe.author_user_id %>
            <%# <%= a_recipe.author.full_name %>
          <%# </a> %>
          <a href="/users/<%= a_recipe.author_user_id %>">  
            <%= a_recipe.author.full_name %> 
          </a>

        </td>


        <td>
          <a href="/recipes/<%= a_recipe.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
