<div>
  <div>
    <h1>
      Recipe #<%= @the_recipe.id %> details
    </h1>

    <div>
      <div>
        <a href="/recipes">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_recipe/<%= @the_recipe.id %>">
          Delete recipe
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_recipe.name %>
      </dd>

      <dt>
        Instructions
      </dt>
      <dd>
        <%= @the_recipe.instructions %>
      </dd>

      <dt>
        Total time
      </dt>
      <dd>
        <%= @the_recipe.total_time %>
      </dd>

      <dt>
        Cooking time
      </dt>
      <dd>
        <%= @the_recipe.cooking_time %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_recipe.image %>
      </dd>

      <dt>
        Author user
      </dt>
      <dd>
        <%= @the_recipe.author_user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_recipe.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_recipe.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit recipe
    </h2>

    <form action="/modify_recipe/<%= @the_recipe.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_recipe.name %>">
      </div>

      <div>
        <label for="instructions_box">
          Instructions
        </label>

        <input type="text" id="instructions_box" name="query_instructions" value="<%= @the_recipe.instructions %>">
      </div>

      <div>
        <label for="total_time_box">
          Total time
        </label>

        <input type="time" id="total_time_box" name="query_total_time" value="<%= @the_recipe.total_time %>">
      </div>

      <div>
        <label for="cooking_time_box">
          Cooking time
        </label>

        <input type="text" id="cooking_time_box" name="query_cooking_time" value="<%= @the_recipe.cooking_time %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_recipe.image %>">
      </div>

      <div>
        <label for="author_user_id_box">
          Author user
        </label>

        <input type="text" id="author_user_id_box" name="query_author_user_id" value="<%= @the_recipe.author_user_id %>">
      </div>

      <button>
        Update recipe
      </button>
    </form>
  </div>
</div>

<hr>
