<h1> <%= @the_user.full_name %> </h1>
<h2> <%= @the_user.first_name.capitalize %>'s Cookbook</h2>
<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
        </th>
        <th>
          Recipe
        </th>
        <th>
          Author
        </th>
        <th>
        </th>
      </tr>
      <% @the_user.cookbooks.each do |recipe_in_cookbook| %>
        <tr>
          <td>
            <% if recipe_in_cookbook != nil %>
              <a href="/delete_cookbook/<%= recipe_in_cookbook.id %>"> 
                Remove this recipe from your cookbook
              </a>
            <% else %>
              <form action="/insert_cookbook/<%= recipe_in_cookbook.id %>" method="post">
                <input type="hidden" name="query_recipe_id" value="<%= recipe_in_cookbook.recipe_id %>">
                <input type="hidden" name="query_user_id" value="<%= @current_user.id %>">
                <button> Save this recipe to your cookbook </button>
              </form>
            <% end %>
          </td>
          <td>
            <a href="/recipes/<%= recipe_in_cookbook.recipe_id %>">
              <%= recipe_in_cookbook.recipe.name %>
            </a>
          </td>
          <td>
            <a href="/users/<%= recipe_in_cookbook.recipe.author_user_id %>">
              <%= recipe_in_cookbook.recipe.author.full_name %>
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<% if @current_user != nil %>
  <% if @current_user.id == @the_user.id %>
        <div>
          <form action="/insert_cookbook" method="post">
            <div>
              <input type="hidden" name="query_user_id" value="<%= @current_user.id %>">
            </div>
            <div>
              <h3> 
                Add another recipe to your cookbook 
              </h3>
              <label for="recipe_id_box">
                Recipe
              </label>

              <select id="recipe_id_box" name="query_recipe_id">
              <% Recipe.all.order({ :name => :asc }).each do |a_recipe| %>
                <option value="<%= a_recipe.id %>">
                    <%= a_recipe.name.capitalize %>
                  </option>
                <% end %>
              </select>
              <button>
                Add Recipe
              </button>
            </form>
            </div>
          <% end %>
        <% end %>









<h2> Recipes written by <%= @the_user.first_name.capitalize %> </h2>
<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Recipe
        </th>
        <th>
          Total time
        </th>
        <th>
          Cooking time
        </th>
        <th>
          Image
        </th>
        <th>
        </th>
      </tr>
      <% @the_user.authored_recipes.each do |a_recipe| %>
        <tr>
          <td>
            <%= a_recipe.name %>
          </td>
          <td>
            <%= a_recipe.total_time %>
          </td>
          <td>
            <%= a_recipe.cooking_time %>
          </td>
          <td>
            <%= a_recipe.image %>
          </td>
          <td>
            <a href="/recipes/<%= a_recipe.id %>">
              Recipe details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<hr>
