<div>
  <div>
    <h1>
      All Ingredients 
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new ingredient
    </h2>

    <form action="/insert_ingredient" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create ingredient
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_ingredients.each do |an_ingredient| %>
      <tr>
        <% if @current_user != nil %>
        <td>
          <% the_favorite = @current_user.ingredients.where({ :id => an_ingredient.id }).at(0) %>
            <% if the_favorite != nil %>
                <a href="/delete_favorite/<%= the_favorite.id %>">
                Remove from fridge
                </a>
            <% else %>
              <form action="/insert_favorite" method="post">
                <input type="hidden" name="query_ingredient_id" value="<%= an_ingredient.id %>">
                <input type="hidden" name="query_user_id" value="<%= @current_user.id %>">
                <button>Add to fridge</button>
                </form>
            <% end %>
          </td>
        <% else %>
          <td>
            <a href="/user_sign_in">Sign in to add to fridge
          </td> 
        <% end %>



        </td>

        <td>
          <%= an_ingredient.name %>
        </td>

        <td>
          <%= time_ago_in_words(an_ingredient.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_ingredient.updated_at) %> ago
        </td>

        <td>
          <a href="/ingredients/<%= an_ingredient.id %>">
            Food details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
