<div>
  <div>
    <h1>
      List of all cookbooks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new cookbook
    </h2>

    <form action="/insert_cookbook" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="recipe_id_box">
          Recipe
        </label>

        <input type="text" id="recipe_id_box" name="query_recipe_id">
      </div>

      <button>
        Create cookbook
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Recipe
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_cookbooks.each do |a_cookbook| %>
      <tr>
        <td>
          <%= a_cookbook.id %>
        </td>

        <td>
          <%= a_cookbook.user_id %>
        </td>

        <td>
          <%= a_cookbook.recipe_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_cookbook.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_cookbook.updated_at) %> ago
        </td>

        <td>
          <a href="/cookbooks/<%= a_cookbook.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
