<div>
  <div>
    <h1>
      Cookbook #<%= @the_cookbook.id %> details
    </h1>

    <div>
      <div>
        <a href="/cookbooks">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_cookbook/<%= @the_cookbook.id %>">
          Delete cookbook
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_cookbook.user_id %>
      </dd>

      <dt>
        Recipe
      </dt>
      <dd>
        <%= @the_cookbook.recipe_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_cookbook.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_cookbook.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit cookbook
    </h2>

    <form action="/modify_cookbook/<%= @the_cookbook.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_cookbook.user_id %>">
      </div>

      <div>
        <label for="recipe_id_box">
          Recipe
        </label>

        <input type="text" id="recipe_id_box" name="query_recipe_id" value="<%= @the_cookbook.recipe_id %>">
      </div>

      <button>
        Update cookbook
      </button>
    </form>
  </div>
</div>

<hr>
