<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <ul>
      <li> 
        <a href="/">Home</a>
      </li>
      <li> 
        <a href="/recipes">Recipes</a>
      </li>
      <li>
        <a href="/users">Users</a>
      </li>
      <% if @current_user == nil %>
        <li>
          <a href="/user_sign_up">Sign up</a>
        </li>
        <li>
          <a href="/user_sign_in">Sign in</a>
        </li>
      <% else %>
        <li>
          <a href="/fridge">My fridge</a> 
        </li>
        <li>
          <a href="/cookbooks/:path_id %>">My cookbook</a>
        </li>
        <li>
          <a href="/edit_user_profile">Edit <%= @current_user.first_name %></a>
        </li>
        <li>
          <a href="/user_sign_out">Sign out</a> 
        </li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
