<!DOCTYPE html>
<html>
  <head>
    <title>Cooking Stock App</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <ul>



      <% if @current_user == nil %>
        <li>
          <a href="/user_sign_in">Sign in</a>
        </li>

        <li>
          <a href="/user_sign_up">Sign up</a>
        </li>

        <li> 
        <a href="/recipes">Recipes</a>
        </li>

        <li>
          <a href="/ingredients">Ingredients</a>
        </li>

      <% else %>
        <ul>
          <li> 
            <a href="/users/<%= @current_user.id %>">
              <%= @current_user.first_name.capitalize%>'s Dashboard 
            </a>
          </li>
            <ul>
              <li>
                <a href="/fridge">My fridge</a> 
              </li>
              <li>
                <a href="/cookbooks/<%= @current_user.id %>">My cookbook</a>
              </li>
              <li>
                <a href="/edit_user_profile">Edit <%= @current_user.first_name.capitalize %>'s profile</a>
              </li>
              <li>
                <a href="/user_sign_out">Sign out</a> 
              </li>
            </ul>
                  <li> 
        <a href="/recipes">Recipes</a>
        </li>

        <li>
          <a href="/ingredients">Ingredients</a>
        </li>
        
          <li>
          <a href="/users">Users</a>
          </li>


      <% end %>
    </ul>
    <%= notice %>
    <%= alert %>


    <%= yield %>
  </body>
</html>
